<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Graphic Designer - Nicole Laing – Ottawa, Canada</title>
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Nicole Laing's portfolio site – designer">
		<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
		<link href="all.css" rel="stylesheet">
		<link href="index.css" rel="stylesheet">
	</head>


    <body>


<nav class="menu">
	<ul class="main-nav">
		<li class="logoStyle"><a href="index.html" class="logo">(Logo)</a></li>
		<li><a href="index.html">About</a></li>
		<li><a href="casestudies.html#case1">Case Studies</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>
{{content}}
<footer class="footer">
@Copyright 2016
</footer>

</body>
</html>
