@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

@media screen and (max-width: 320px)
{
/*
	.items div { margin: 0; }
	.items { padding: 20; }
*/
}

html
{
	/* IE fix */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

/*
header, nav, section, footer
*/
header, nav, footer
{
	padding: 0px;
	margin: 0px;
	/*border: 1px solid #fff;
	border-radius: 10px;*/
	color: black;
	background-color: #ffffff;
	padding:0px 0px 0px 0px;

}

ul li
{
	list-style-type: none;
}

img {
 width: auto ;
 max-width: 100% ;
 height: auto ;
}

a:focus {
	outline: 3px solid #000;
}

.skip-links{
	margin: 0;
	padding: 0;
}

.skip-links a {
	position: absolute;
	top: -3em;
}

body
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	/*min-height: 100vh;*/
	margin: 0;
	background: #ffffff;
	font-family: 'Proza Libre', sans-serif;
}

.menu
{
	/*background-color: #eaeced;*/
	text-align: right;
	/*border: 1px solid red;*/

}

.menu ul
{
/*
	display: block;
	display: -webkit-flex;
*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;

/*
	font-size: 10px;
*/
	font-size: 12.8px;
	font-size: 0.8rem;
	line-height: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.21em;
	color: #fff;
	background-color: #ffffff;
	white-space: nowrap;

/*
	resize: vertical;
	overflow: auto;
*/
}

/*.menu li:first-child
{
	margin-right: auto;
	width: 40px;
}*/

.menu li
{
	list-style-type: none;
/*
	border: 1px solid red;
*/
}

.menu li a
{
/*
	color: #fff;
*/
	color: #000;
	text-decoration: none;
	margin: 2px;
	/*border-radius: 10px;
	background: #eaeced;*/
	display: flex;
	flex-wrap: wrap;
	padding: 10px;



}

.menu li a.logo
{
	background: #ffffff;
}


/*.menu ul #buttons
{
	margin-right: align-self;
}*/





.link-1
{
  transition: 0.3s ease;
  background: #b9c6df;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  border-top: 4px solid #b9c6df;
  border-bottom: 4px solid #b9c6df;
  padding: 10px 0;
  margin: 0 20px;
}

.link-1:hover
{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}


.footer
{
	/*background: #eaeced;*/
	text-align: center;
	color: black;
	font-size: 12px;
	padding: 3px;
}

.flex-center404
{
	color: #7c6348;
}

.flexboxContainer
{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
	-webkit-flex-direction: column; /* Safari */
 flex-direction:         column;
	/*border: 1px solid blue;*/
}


.flexboxContainerWrap
{
	-webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
	-webkit-justify-content: flex-start; /* Safari */
 justify-content:         flex-start;
 -webkit-align-items: stretch; /* Safari */
	align-items:space-between;
	background: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;

	flex-wrap: wrap;


}



.navigation-container {

	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 2em;
	justify-content: space-between;
	margin: 0px;
	text-align: right;
	/*border: 1px solid red;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	height: auto;
	margin: top;

/*
	font-size: 10px;
*/

	}

}
