.video-container
{
  position: relative;
}

.video-container
{
	margin: 4px;
  color: #eaeced;
}

.video
{
  height: auto;
/*
  vertical-align: middle;
*/
  width: 100%;
}

.video
{
  height: 400px;

  /*background: #40a6ff;*/
}

.overlay-desc
{
  background: rgba(0,0,0,0);
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
/*
  vertical-align: bottom;
  vertical-align: middle;
*/
}

.text
{
	margin: 10px;
	text-align: justify;
/*
	font-family: 'proxima-nova', sans-serif;
*/
	font-size: 16px;
	line-height: 1.6em;
  background-color: #ffffff;
  padding: 10px; 16px; 10px; 16px;
}

.text h1
{
	color: #a4b9f8;

}

/*
.text h1 .A
{
	color: black;
	font-size: 40px;
}
*/

main
{
	margin-left: 100px;
	margin-right: 100px;
}

.parent
{

  display: flex;
  justify-content: center;
  align-items: center;

}

.col
{
  width: 33%;
  background-color: #eaeced;
}


.flex-center
{
  background: #f0f1f4;
  color: #1e4388;
  border: 10px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 240px;
  resize: vertical;
  overflow: auto;
}



.flex-center p
{
  margin: 0;
  padding: 20px;

}

.flex-center h1
{
  color: #a4b9f8;
  padding: 5px;
}

.flexboxContainer
{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}

.img
{
  max-width: 25%;
  padding: 2.5;
}

@ media screen and (min-width: 768px)
{
img
  {
      max-width: 35%;
  }
}
